
*{
    margin-top: 2%;
    margin-right:4%;
    margin-left: 4%;
    box-sizing:border-box;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
  
}
.main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 30%;
    margin-top: 1%;
    
}

    
.p2,.p3{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;

}
#formy{
display: flex;
flex-direction: column;
justify-content: center;
width:600px;
border:2px solid whitesmoke;
padding: 5%;
}
#formy label{
    margin-top: 0%;
    margin-bottom: 0%;
}
.h5{
    /* text-align: center;
    border:lightgrey;
    align-items: center;
    width:40%;
    left:250px;
    border-color:lightgrey;
    border-radius:15px ;
    margin:1%;
    padding:1% 2%;
    box-shadow:2px 2px 2px rgb(238, 235, 235);  */
    width: 70%;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    border: 2px solid #1111;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    cursor: pointer;
    transition: all 1s;
    font-family: 'Roboto Serif', sans-serif !important;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    color: #000;
    margin-left:1%;
    margin-top: 1%;
    margin-bottom:2%;

}
.s1{
    
        margin: 0px auto;
        color:black;
        text-align:center;
        font-size: 12px;
        position: relative;
        left:20px;
        font-weight: bold;
    
}
.s2{
    text-align: center;
    left:50px;
}
.s3{
    font-weight: bold;
    
}
.s1::before {
    content: "";
display: block;
width: 200px;
height: 1px;
background:black;
left: 120px;
top: 50%;
position: absolute;
  }
.p1{
    color:black;
    text-align:right;
    content:"";
    right:200px;
    /* position: absolute; */
 }
.s1::after {
    content: "";
display: block;
width: 200px;
height: 1px;
background: black;
right: 120px;
top: 50%;
position: absolute;
  }

.b1{
    border: 2px solid #1111;
    background-color: white;
    border-style:solid;
    border-width: 0.1px;
    width:80%;
    border-color:lightslategray;
    border-radius:10px ;
    margin:1%;
    padding:2.5% 2%;
    left:450px;
    line-height: 2%;
}
.b1:hover{
     box-shadow:1px 1px 8px 8px rgb(240, 207, 207) ; 

}
.b2{
    border: 2px solid #1111;
    background-color: white;
    border-style:solid;
    border-width: 0.1px;
    width:80%;
    border-color:lightslategray;
    border-radius:10px ;
    margin:1%;
    padding:2.5% 2%;
    left:400px;
    
}
.b2:hover{
    box-shadow:1px 1px 8px 8px rgb(240, 207, 207);
    border-color: lightgrey;
}

.but{
    background-color: black;
    font-display: rgb(202, 198, 198);
    border: none;
    width:80%;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    margin:0%;
    margin-left: 1%;
    padding:3% 2%;
    box-shadow:1px 1px 1px rgb(231, 226, 226);
    
}
.but:hover{
    background-color:rgb(219, 212, 212);
}